*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(255, 143, 7);
    width: 50%;
    margin: 0 auto;
    margin-top:100px ;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    width: 360px;
}
#inputField{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#addToDo{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 30px;
    vertical-align: middle;
    background-color: black;
    color: white;
}
#addToDo:hover{
   background-color: rgb(95, 228, 6);
}
.to-do{
    margin-top: 25px;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer ;
    font-size: 20px;

}
.info {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 30%;
    background-color: beige;
}
.input::placeholder {
    color: #b5b5b5;
    font-size: 1.5em;
}